<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body background="/static/css/395434.webp">
    <div class="heading">
    <h1>What is Crypto To The Moon?</h1>
    </div>
    <div class="content">
    <p><em>When it comes to Crypto, “mooning” basically means that a cryptocurrency's valuation is “going to the moon” —
    experiencing a significant spike in price and volume.</em></p>
    <br>
    <h2>Cryptocurrency price fluctuation</h2>
    <p>Cryptocurrency price fluctuates wildly, and it's primarily due to the principle of supply and demand. Once the demand is
    great and the supply becomes limited, the price tends to go up. On the other hand, the value would go down once the
    demand comes down and the supply becomes more available.</p>
    <br>
    <h2>Why this app?</h2>
    <p>This web application intends to determine whether a particular Cryptocurrency will "go to the moon", or if it's prices are going to skyrocket over time.</p>
    <p>What's better than analyzing the public's take on this? Our application captures the public opinion through the best microblogging and social networking service-Twitter. It analyzes the sentiments of the tweets and classifies them as positive, negative and neutral.</p>
    <p>Apart from providing the statistical data, we also generate a pie chart classifying the tweets.
    This application also scrapes the real time price of any cryptocurrency.</p>
    </div>
</body>
</html>
